<h1>Index</h1>

<p><%= link_to "new_user_session_path", new_user_session_path %></p>
<p><%= link_to "user_session_path", user_session_path %></p>
<p><%= link_to "destroy_user_session_path", destroy_user_session_path %></p>
<p><%= link_to "new_user_password_path", new_user_password_path %></p>
<p><%= link_to "edit_user_password_path", edit_user_password_path %></p>
<p><%= link_to "new_image_path", new_image_path %></p>
